<%= content_for(:title, t('.title', default: APP_NAME)) %>
<div class="flex-grow px-2 sm:px-6 md:px-10">
  <div class="max-w-4xl mx-auto pt-2 pb-6 sm:pt-6 md:px-0">
    <h1 class="font-semibold font-sans text-lg md:text-4xl sm:text-2xl text-center mb-6">
     <%= t('.title') %>
    </h1>

    <% if @journal_corrections.any? %>
      <div class="space-y-2">
      <%# journal_correctionsをループ %>
        <%# 1件ずつ枠で囲む %>
        <% @journal_corrections.each do |journal_correction| %>
          <%= link_to journal_correction_path(journal_correction),
            class:"block border border-cream-300 bg-white rounded-lg px-2 py-1 sm:px-4 py-3" do %>
          <%# 日付 %>
            <div class="font-bold text-cream-500 flex items-center gap-3 mb-2">
              <span>
                <%= journal_correction.journal.posted_date.strftime("%Y/%m/%d") %>の日記
              </span>
              <div class="badge badge-soft badge-success badge-md text-white">
                  <%= journal_correction.mistakes.count { |mistake| mistake.learning_points["pattern"].present? } %>つの学び
              </div>
           </div>
      

        <div class="mb-2">
          <% journal_correction.mistakes.first(2).each do |mistake| %>
            <p class="font-semibold text-base md:text-lg"><%= mistake.learning_points["pattern"] %></p>
            <p class="text-gray-500">【意味】<%= mistake.learning_points["meaning"] %></p>
          
            <!--<% if mistake.learning_points["related_phrases"].present? %>
              <% mistake.learning_points["related_phrases"].each do |phrase| %> 
                <p><%= phrase["phrase"] %></p>
                <p class="text-gray-500">【意味】<%= phrase["meaning"] %></p>
              <% end %>
            <% end %>-->
          <% end %>
        </div>
          <% end %>
        <% end %>
      </div>
    
    <% else %>
      <div role="alert" class="alert alert-info alert-soft">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>最初の1ページです🌱今日の気持ちを書いてみましょう
        <span></span>
      </div>
    <% end %>
  </div>
</div>
